applications.json
{
  "updatedAt": "2026-05-05T00:46:22.762Z",
  "createdAt": "2026-05-01T16:49:49.853Z",
  "id": "StOGDuubavpou92g",
  "name": "Applications",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "downloadAttachments": true,
        "options": {
          "customEmailConfig": "[[\"FROM\", \"joel@firstlygroup.com\"]]",
          "trackLastMessageId": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        -240
      ],
      "id": "7846abac-b36d-4f87-ab43-46daf02b2d6a",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "f29oykv4iujvjwI9",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=Extract the following data from the document and return it as a JSON object conforming to the provided schema.\n\nCRITICAL FORMATTING REQUIREMENTS:\n\nReplace any newline characters within extracted string values with a single space.\nIf a specific field cannot be found, return an empty space for that field.\nif the field is a boolean return Yes or No or a blank space do not use null replace all nulls with a blank space\nuse date format yyyy-mm-dd\nExtraction Instructions:\n\nCompanyName: Find the value associated with labels like 'Company Name:' data type is text.\nCompanyEIN: Find the value associated with labels like 'Company EIN Number:' data type is text.\nApplicantName: Find the value associated with labels like 'Your name' data type is text.\nSSN: Find the value associated with labels like 'Social security number' data type is text.\nStreetAddress: Find the value associated with labels like 'Street address where you live' data type is text.\nCityTownStateZip: Find the value associated with labels like 'City or town, state, and ZIP code' data type is text.\nCounty: Find the value associated with labels like 'County' data type is text.\nTelephone: Find the value associated with labels like 'Telephone number' data type is text.\nDOB: Find the value associated with labels like 'If you are under age 40, enter your date of birth (month, day, year)' data type is date.\nConditionalCert: Find the value associated with labels like 'Check here if you received a conditional certification from the state workforce agency (SWA) or a participating local agency for the work opportunity credit.' data type is boolean.\nGeneralEligibility: Find the value associated with labels like 'Check here if any of the following statements apply to you' data type is boolean.\nUnemployedVeteran6Mo: Find the value associated with labels like 'Check here if you are a veteran and you were unemployed for a period or periods totaling at least 6 months during the past year.' data type is boolean.\nDisabledVeteran1Yr: Find the value associated with labels like 'Check here if you are a veteran entitled to compensation for a service-connected disability and you were discharged or released from active duty in the U.S. Armed Forces during the past year.' data type is boolean.\nDisabledVeteran6Mo: Find the value associated with labels like 'Check here if you are a veteran entitled to compensation for a service-connected disability and you were unemployed for a period or periods totaling at least 6 months during the past year.' data type is boolean.\nLongTermTANF: Find the value associated with labels like 'Check here if you are a member of a family that: Received TANF payments for at least the past 18 months; or Received TANF payments for any 18 months beginning after August 5, 1997...' data type is boolean.\nLongTermUnemployed: Find the value associated with labels like 'Check here if you are in a period of unemployment that is at least 27 consecutive weeks and for all or part of that period you received unemployment compensation.' data type is boolean.\nRehireStatus: Find the value associated with labels like 'Have you ever worked for this Employer before? Are you a Re-hire?' data type is boolean.\nUnderAge40: Find the value associated with labels like 'Are you under age 40?' data type is boolean.\nUnemployed27Weeks: Find the value associated with labels like 'Have you been unemployed for at least 27 weeks, and collected Unemployment Insurance?' data type is boolean.\nVeteranStatus: Find the value associated with labels like 'Are you a Veteran of the US Armed Forces?' data type is boolean.\nVeteranSNAP: Find the value associated with labels like 'Are you a member of a family that received SNAP (Food Stamps Benefits)?' data type is boolean.\nVeteranDischargedLastYear: Find the value associated with labels like 'Were you discharged from active duty within the last year?' data type is boolean.\nVeteranServiceDisability: Find the value associated with labels like 'Are you entitled to compensation for a service-connected disability?' data type is boolean.\nVeteranUnemployed6Months: Find the value associated with labels like 'Were you unemployed for a combined total of 6 months before you were hired?' data type is boolean.\nFamilySNAP: Find the value associated with labels like 'Have you, or your family, received SNAP benefits (Food Stamps) in the 6 months before you were hired? Or received SNAP Benefits for at least a 3-month period, but you are no longer receiving it?' data type is boolean.\nPrimaryRecipientSNAP: Find the value associated with labels like 'If yes to either question, enter Name of Primary Recipient:' data type is text.\nSNAPLocation: Find the value associated with labels like 'And City, State where benefits were received' data type is text.\nFamilyTANF: Find the value associated with labels like 'Are you a member of a family that received TANF assistance for at least 18 months before you were hired? Or, did your family stop being eligible for TANF assistance within 2 years before being hired...' data type is boolean.\nPrimaryRecipientTANF: Find the value associated with labels like 'If yes to either question, enter Name of Primary Recipient:' data type is text.\nTANFLocation: Find the value associated with labels like 'And City, State where benefits were received' data type is text.\nSSIBenefits: Find the value associated with labels like 'Did you receive Supplemental Security Income (SSI Benefits) for any month, ending within the 60 days, before you were hired?' data type is boolean.\nFelonyConviction: Find the value associated with labels like 'Were you convicted of a Felony during the year before you were hired?' data type is boolean.\nVocationalRehabReferral: Find the value associated with labels like 'A Vocational Rehab Agency approved by the state?' data type is boolean.\nEmploymentNetworkReferral: Find the value associated with labels like 'An Employment Network under the Ticket to Work Program?' data type is boolean.\nVeteranAffairsReferral: Find the value associated with labels like 'The Dept. of Veteran Affairs?' data type is boolean.\nEmploymentStartDate: Find the value associated with labels like 'Employment Start Date' data type is date.\nStartingWage: Find the value associated with labels like 'Starting Wage' data type is Currency. remove the dollar symbol and use number format and not a string \nPosition: Find the value associated with labels like 'Position' data type is text.\nApplicationDate: Find the value associated with labels like 'Today’s Date' data type is date.\nYouthName: Find the value associated with labels like '1. Last name: First name: Middle initial:' data type is text.\nYouthBirthDate: Find the value associated with labels like '2. Birth date (mm/dd/yyyy):' data type is date.\nYouthSSN: Find the value associated with labels like '3. Social Security Number:' data type is text.\nYouthAddress: Find the value associated with labels like '4. Home address:' data type is text.\nYouthCity: Find the value associated with labels like '5. City:' data type is text.\nYouthState: Find the value associated with labels like '6. State:' data type is text.\nYouthZip: Find the value associated with labels like '7. Zip:' data type is text.\nYouthTargetArea: Find the value associated with labels like '8. I currently live in the town, or city limits, of the following target area, check one:' data type is text.\nYouthEmail: Find the value associated with labels like '9: Email:' data type is text.\nYouthMainPhone: Find the value associated with labels like '10. Main phone:' data type is text.\nYouthOtherPhone: Find the value associated with labels like '11. Other phone (optional):' data type is text.\nAttendingHighSchool: Find the value associated with labels like '12. a. I am currently attending high school' data type is boolean.\nEnrolledHSE: Find the value associated with labels like '12. b. I am currently enrolled in a High School Equivalency (HSE) program' data type is boolean.\nEmployed: Find the value associated with labels like '13. Are any of the following four statements true? (I am currently unemployed, I was unemployed prior to completing this application, I do not have enough paid work, The work I have does not make use of my skills and training.)' data type is boolean.\nParentPermission: Find the value associated with labels like '14. I am 16 or 17 years old. I have my parent's or guardian's permission to submit this application' data type is boolean.\nParentFirstName: Find the value associated with labels like 'a. Parent/Guardian First name:' data type is text.\nParentLastName: Find the value associated with labels like 'b. Last name:' data type is text.\nParentPhone: Find the value associated with labels like 'c. Phone:' data type is text.\nWorkingPapers: Find the value associated with labels like '15. I have working papers' data type is boolean.\nAge18to24: Find the value associated with labels like '16. a. I am 18 to 24 years old' data type is boolean.\nEducationStatusTrue: Find the value associated with labels like '16. b. Are any of the following five statements true? (I have a high school diploma, I have a GED, I have an HSE diploma, I have completed a TASC exam, I am enrolled in a TASC program.)' data type is boolean.\nContactPreference: Find the value associated with labels like '17. I would like the Department of Labor to contact me by.' data type is boolean.\n\nFinal Output:\nreplace all \" \" with \"\"\nEnsure the final output is a valid JSON object matching the structure defined in the schema.`;\n\n\n\n\n\n",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        448,
        -240
      ],
      "id": "b7c54279-f37b-4e99-ae3d-13ef2f320d31",
      "name": "Analyze document",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "OBJJzCCCdVK0aMVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let text = $input.item.json.candidates[0].content.parts[0].text;\nreturn JSON.parse(text.substring(8, text.length - 4));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -240
      ],
      "id": "96be0e97-124e-492f-b3d4-0962b4f5953d",
      "name": "get JSON"
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/crm/v8/Accounts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criteria",
              "value": "(Account_Name:equals:Platinum Home Health Care Inc)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -240
      ],
      "id": "d39b2908-835c-4e05-8d46-5cf711b79c92",
      "name": "zoho: get account",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "AJFkRsSMnIXWkGmn",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v8/Applications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"Account\": \"{{ $json.data[0].id }}\",\n      \"Address_City\": \"\",\n      \"Address_Country_Region\": \"\",\n      \"Address_Flat_House_No_Building_Apartment_Name\": \"\",\n      \"Address_State_Province\": \"\",\n      \"Address_Street_Address\": \"{{ $('get JSON').item.json.StreetAddress }}\",\n      \"Address_Zip_Postal_Code\": \"\",\n      \"Age_18_to_24\": \"{{ $('get JSON').item.json.Age18to24 }}\",\n      \"Application_Date\":\"{{ $('get JSON').item.json.ApplicationDate }}\",\n      \"Application_Document\":\"\",\n      \"Name\":\"{{ $('get JSON').item.json.ApplicantName }}\",\n      \"Attending_High_School\":\"{{ $('get JSON').item.json.AttendingHighSchool }}\",\n      \"Conditional_Certification\":\"{{ $('get JSON').item.json.ConditionalCert }}\",\n      \"Disabled_Veteran_1_Year\":\"{{ $('get JSON').item.json.DisabledVeteran1Yr }}\",\n      \"Disabled_Veteran_6_Month\":\"{{ $('get JSON').item.json.DisabledVeteran6Mo }}\",\n      \"DOB\":\"{{ new Date($('get JSON').item.json.DOB).toISOString().split('T')[0] }}\",\n      \"DoL_Contact_Consent\":\"{{ $('get JSON').item.json.ContactPreference }}\",\n      \"Email\":\"\",\n      \"Email_Opt_Out\":\"\",\n      \"Employed\":\"{{ $('get JSON').item.json.Employed }}\",\n      \"Employment_Network_Referral\":\"{{ $('get JSON').item.json.EmploymentNetworkReferral }}\",\n      \"Employment_Start_Date\":\"{{ $('get JSON').item.json.EmploymentStartDate }}\",\n      \"Enrolled_HSE\":\"{{ $('get JSON').item.json.EnrolledHSE }}\",\n      \"FamilySNAP\":\"{{ $('get JSON').item.json.FamilySNAP }}\",\n      \"Family_TANF\":\"{{ $('get JSON').item.json.FamilyTANF }}\",\n      \"Felony_Conviction\":\"{{ $('get JSON').item.json.FelonyConviction }}\",\n      \"General_Eligibility\":\"{{ $('get JSON').item.json.GeneralEligibility }}\",\n      \"HasEducation\":\"{{ $('get JSON').item.json.EducationStatusTrue }}\",\n      \"Long_Term_TANF\":\"{{ $('get JSON').item.json.LongTermTANF }}\",\n      \"Long_Term_Unemployed_Long_Term_Unemployed\":\"{{ $('get JSON').item.json.LongTermUnemployed }}\",\n      \"Parent_First_Name\":\"{{ $('get JSON').item.json.ParentFirstName }}\",\n      \"Parent_Last_Name\":\"{{ $('get JSON').item.json.ParentLastName }}\",\n      \"Parent_Permission\":\"{{ $('get JSON').item.json.ParentPermission }}\",\n      \"Parent_Phone\":\"{{ $('get JSON').item.json.ParentPhone }}\",\n      \"Phone\":\"{{ $('get JSON').item.json.Telephone }}\",\n      \"Position\":\"{{ $('get JSON').item.json.Position }}\",\n      \"Rehire\":\"{{ $('get JSON').item.json.RehireStatus }}\",\n      \"Secondary_Email\":\"\",\n      \"SNAP_Location\":\"{{ $('get JSON').item.json.SNAPLocation }}\",\n      \"SNAP_Primary_Recipient\":\"\",\n      \"Social_security\":\"{{ $('get JSON').item.json.SSN }}\",\n      \"SSI_Benefits\":\"{{ $('get JSON').item.json.SSIBenefits }}\",\n      \"Starting_Wage\":{{ $('get JSON').item.json.StartingWage }},\n      \"TANF_Location\":\"{{ $('get JSON').item.json.TANFLocation }}\",\n      \"TANF_Primary_Recipient\":\"\",\n      \"Under_Age_40\":\"{{ $('get JSON').item.json.UnderAge40 }}\",\n      \"Unemployed_27_Weeks\":\"{{ $('get JSON').item.json.Unemployed27Weeks }}\",\n      \"Unemployed_Veteran_6_Month\":\"{{ $('get JSON').item.json.UnemployedVeteran6Mo }}\",\n      \"Veteran\":\"{{ $('get JSON').item.json.VeteranStatus }}\",\n      \"Veteran_Affairs_Referral\":\"{{ $('get JSON').item.json.VeteranAffairsReferral }}\",\n      \"Veteran_Discharged_Last_Year\":\"{{ $('get JSON').item.json.VeteranDischargedLastYear }}\",\n      \"Veteran_Service_Disability\":\"{{ $('get JSON').item.json.VeteranServiceDisability }}\",\n      \"Veteran_SNAP\":\"{{ $('get JSON').item.json.VeteranSNAP }}\",\n      \"Veteran_Unemployed_6_Months\":\"{{ $('get JSON').item.json.VeteranUnemployed6Months }}\",\n      \"Vocational_Rehab_Referral\":\"{{ $('get JSON').item.json.VocationalRehabReferral }}\",\n      \"Working_Papers\":\"{{ $('get JSON').item.json.WorkingPapers }}\",\n      \"Youth_Address_City\":\"{{ $('get JSON').item.json.YouthCity }}\",\n      \"Youth_Address_Country_Region\":\"USA\",\n      \"Youth_Address_Flat_House_No_Building_Apartment_Nam\":\"\",\n      \"Youth_Address_State_Province\":\"{{ $('get JSON').item.json.YouthState }}\",\n      \"Youth_Address_Street_Address\":\"{{ $('get JSON').item.json.YouthAddress }}\",\n      \"Youth_Address_Zip_Postal_Code\":\"{{ $('get JSON').item.json.YouthZip }}\",\n      \"Youth_DOB\":\"{{ $('get JSON').item.json.YouthBirthDate }}\",\n      \"Youth_Email\":\"{{ $('get JSON').item.json.YouthEmail }}\",\n      \"Youth_Main_Phone\":\"{{ $('get JSON').item.json.YouthMainPhone }}\",\n      \"Youth_Name\":\"{{ $('get JSON').item.json.YouthName }}\",\n      \"Youth_Other_Phone\":\"{{ $('get JSON').item.json.YouthOtherPhone }}\",\n      \"Youth_Social_security\":\"{{ $('get JSON').item.json.YouthSSN }}\",\n      \"Youth_Target_Area\":\"{{ $('get JSON').item.json.YouthTargetArea }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -240
      ],
      "id": "78577922-4838-42cf-be32-7f7a4104e6a9",
      "name": "Create Application",
      "retryOnFail": false,
      "waitBetweenTries": 2000,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "AJFkRsSMnIXWkGmn",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.zohoapis.com/crm/v8/applications/{{ $('Create Application').item.json.data[0].details.id }}/Attachments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -240
      ],
      "id": "b778d85a-d57d-437e-9217-38e9ef52d37c",
      "name": "Upload Document",
      "retryOnFail": false,
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ctc33HbS8GvHZ3iA",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "=/CreditForce LLC/Documents/Platinum HC/2026/2026 WOTC Forms/{{ $('get JSON').item.json.ApplicantName }}.pdf",
        "binaryData": true
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2016,
        -240
      ],
      "id": "1ef7a653-4de4-44c4-9cf5-07dda505627c",
      "name": "Upload a file",
      "credentials": {
        "dropboxApi": {
          "id": "ByTMMLRlyaiaH3pX",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the \n\nlet results = [];\nfor (const item of $input.all()) {\n  results.push({\n      binary:{\n        data:$('get attachments 1').first().binary.data\n      }\n    })\n}\n\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -240
      ],
      "id": "63427535-e655-4eb2-a445-9de85f34373e",
      "name": "get attachments 2"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nfor (const item of $input.all()) {\n  for(let key of Object.keys(item.binary || {})){\n    results.push({\n      binary:{\n        data:item.binary[key]\n      }\n    })\n  }\n}\n\n\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -240
      ],
      "id": "ae8976d6-2dd5-41e3-a623-f59d071defb8",
      "name": "get attachments 1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the \n\nlet results = [];\nfor (const item of $input.all()) {\n  results.push({\n      binary:{\n        data:$('get attachments 1').first().binary.data\n      }\n    })\n}\n\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -240
      ],
      "id": "b71e232c-257f-406d-b114-34cd9f4b63eb",
      "name": "get attachments 3"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "get attachments 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "get JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get JSON": {
      "main": [
        [
          {
            "node": "zoho: get account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zoho: get account": {
      "main": [
        [
          {
            "node": "Create Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Application": {
      "main": [
        [
          {
            "node": "get attachments 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "get attachments 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments 2": {
      "main": [
        [
          {
            "node": "Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments 1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        []
      ]
    },
    "get attachments 3": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "get JSON": [
      {
        "json": {
          "CompanyName": "",
          "CompanyEIN": "",
          "ApplicantName": "Cyrae Frohlich francell Frohlich",
          "SSN": "517391085",
          "StreetAddress": "3607 Spring Wheat Lane apt 107",
          "CityTownStateZip": "Billings, MT 59102",
          "County": "Yellowstone",
          "Telephone": "4065349741",
          "DOB": "2003-12-25",
          "ConditionalCert": "No",
          "GeneralEligibility": "No",
          "UnemployedVeteran6Mo": "No",
          "DisabledVeteran1Yr": "No",
          "DisabledVeteran6Mo": "No",
          "LongTermTANF": "No",
          "LongTermUnemployed": "No",
          "RehireStatus": "No",
          "UnderAge40": "Yes",
          "Unemployed27Weeks": "No",
          "VeteranStatus": "No",
          "VeteranSNAP": "No",
          "VeteranDischargedLastYear": "No",
          "VeteranServiceDisability": "No",
          "VeteranUnemployed6Months": "No",
          "FamilySNAP": "No",
          "PrimaryRecipientSNAP": "",
          "SNAPLocation": "",
          "FamilyTANF": "No",
          "PrimaryRecipientTANF": "",
          "TANFLocation": "",
          "SSIBenefits": "No",
          "FelonyConviction": "No",
          "VocationalRehabReferral": "No",
          "EmploymentNetworkReferral": "No",
          "VeteranAffairsReferral": "No",
          "EmploymentStartDate": "2026-04-28",
          "StartingWage": 23,
          "Position": "",
          "ApplicationDate": "2026-04-28",
          "YouthName": "Cyrae Frohlich",
          "YouthBirthDate": "2003-12-25",
          "YouthSSN": "517391085",
          "YouthAddress": "3607 Spring Wheat Lane apt 107",
          "YouthCity": "Billings",
          "YouthState": "MT",
          "YouthZip": "59102",
          "YouthTargetArea": "",
          "YouthEmail": "cyraefrohlich@gmail.com",
          "YouthMainPhone": "4065349741",
          "YouthOtherPhone": "",
          "AttendingHighSchool": "",
          "EnrolledHSE": "",
          "Employed": "",
          "ParentPermission": "",
          "ParentFirstName": "",
          "ParentLastName": "",
          "ParentPhone": "",
          "WorkingPapers": "",
          "Age18to24": "Yes",
          "EducationStatusTrue": "",
          "ContactPreference": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "807846fd-59ef-47a3-bf37-b72b0a684e92",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-01T16:49:49.853Z",
      "createdAt": "2026-05-01T16:49:49.853Z",
      "role": "workflow:owner",
      "workflowId": "StOGDuubavpou92g",
      "projectId": "vJt8jIrywUfGQWf1"
    }
  ],
  "activeVersion": null,
  "tags": []
}