employees.json
{
  "updatedAt": "2026-05-08T16:44:15.199Z",
  "createdAt": "2026-05-06T20:03:12.309Z",
  "id": "b5pqDfo6xzi2p5uA",
  "name": "employees",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.zohoapis.com/crm/v8/Payroll_Reports/{{ $json.query.payroll_report_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        464
      ],
      "id": "7ad63559-b268-4966-a9a2-bb385d8b7b8f",
      "name": "get record",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ctc33HbS8GvHZ3iA",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.zohoapis.com/crm/v8/Payroll_Reports/{{ $('Webhook').item.json.query.payroll_report_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": [\n    {\n      \"Processed\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        464
      ],
      "id": "5e633c30-bde3-4b05-92e2-b80fc6f1b328",
      "name": "update payroll report",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ctc33HbS8GvHZ3iA",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "3802f8fd-b2ec-4d29-ba83-16494a06d497",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        464
      ],
      "id": "f6f39e85-f942-4f8a-8d6c-b150eace6506",
      "name": "Webhook",
      "webhookId": "3802f8fd-b2ec-4d29-ba83-16494a06d497"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                    "rightValue": "HHA Exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c5bd131e-a82b-4cce-b047-835cc085f8ed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HHA Exchange"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "880c5c0c-6fe4-4d66-b87b-e4455f726ffd",
                    "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                    "rightValue": "Visiting Aid",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Visiting Aid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f647d93b-56b6-4d83-b57d-1e4f2dc70c80",
                    "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                    "rightValue": "Empeon",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Empeon"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "04df3b60-f9d6-4dc6-96fc-004706cbb7a4",
                    "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                    "rightValue": "Viventium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Viventium"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        432
      ],
      "id": "dd63f3b3-3dca-4a48-a176-70ddfda33b12",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jyIQvpghZRcQSCxC",
          "mode": "list",
          "cachedResultUrl": "/workflow/jyIQvpghZRcQSCxC",
          "cachedResultName": "HHAExchange"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id": "={{ $('Webhook').item.json.query.account_id }}",
            "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
            "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payroll_report_id",
              "displayName": "payroll_report_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        176
      ],
      "id": "ce28a66e-2378-4a24-9eb0-948ce71fc514",
      "name": " HHAExchange"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BKhpCfhaYEVJIaUO",
          "mode": "list",
          "cachedResultUrl": "/workflow/BKhpCfhaYEVJIaUO",
          "cachedResultName": "Visiting Aid"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id": "={{ $('Webhook').item.json.query.account_id }}",
            "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
            "file_id": "={{ $json.data[0].Report[0].File_Id__s }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payroll_report_id",
              "displayName": "payroll_report_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        368
      ],
      "id": "70c2b53e-fd2b-4556-abea-a802f5070576",
      "name": "Visiting Aid"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZOWcRr2nzRYHPF6t",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZOWcRr2nzRYHPF6t",
          "cachedResultName": "Empeon"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id": "={{ $('Webhook').item.json.query.account_id }}",
            "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
            "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payroll_report_id",
              "displayName": "payroll_report_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        560
      ],
      "id": "a952b1d7-41d2-448b-ac16-3e95e46f055e",
      "name": "Empeon"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vRjeNO1pbIz7Gksr",
          "mode": "list",
          "cachedResultUrl": "/workflow/vRjeNO1pbIz7Gksr",
          "cachedResultName": "Viventium"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id": "={{ $('Webhook').item.json.query.account_id }}",
            "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
            "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payroll_report_id",
              "displayName": "payroll_report_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        752
      ],
      "id": "4d1b1bba-b216-47af-ba88-328f969e6ae7",
      "name": "Viventium"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v8/Employees/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\":{{ JSON.stringify($json.data) }},\n  \"duplicate_check_fields\": [\"External_Id\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        464
      ],
      "id": "c7e14704-d496-48ee-bd1a-f69bf58c149f",
      "name": "upsert employees",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ctc33HbS8GvHZ3iA",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.data =  $input.item.json.data.map(o=>{\n  return {\n    ...o, \n    Name:o.First_Name + ' ' + o.Last_Name,\n    Account:$('Webhook').item.json.query.account_id,\n    Payroll_Report:$('Webhook').item.json.query.payroll_report_id,\n    External_Id:(o.First_Name+o.Last_Name+o.SSN.slice(4)+o.DOB+$('Webhook').item.json.query.account_id).toLowerCase()\n  }\n})\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        464
      ],
      "id": "12422739-238d-4eea-a05b-84b19bbfa6fb",
      "name": "Transform"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1344,
        464
      ],
      "id": "9dfe96cf-fc22-42c2-b7b3-4aa3319271e7",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "get record": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": " HHAExchange",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visiting Aid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empeon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Viventium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " HHAExchange": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visiting Aid": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empeon": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viventium": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "upsert employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert employees": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "update payroll report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-72774.up.railway.app",
            "user-agent": "https://crm.zoho.com",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/x-www-form-urlencoded;charset=UTF-8",
            "x-forwarded-for": "136.143.177.62",
            "x-forwarded-host": "primary-production-72774.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "wSoDmNR0QMyH4-PGezItjw",
            "x-real-ip": "136.143.177.62",
            "x-request-start": "1778258649400",
            "x-zoho-crm-feature": "webhook",
            "zsec_user_import_url": "true"
          },
          "params": {},
          "query": {
            "payroll_report_id": "7377246000000950066",
            "account_id": "7377246000000950063",
            "payroll_system": "Empeon"
          },
          "body": {},
          "webhookUrl": "https://primary-production-72774.up.railway.app/webhook-test/3802f8fd-b2ec-4d29-ba83-16494a06d497",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "27f72596-b9b3-4861-87c6-c07e331e3559",
  "activeVersionId": "27f72596-b9b3-4861-87c6-c07e331e3559",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-06T20:03:12.309Z",
      "createdAt": "2026-05-06T20:03:12.309Z",
      "role": "workflow:owner",
      "workflowId": "b5pqDfo6xzi2p5uA",
      "projectId": "vJt8jIrywUfGQWf1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-08T17:48:59.588Z",
    "createdAt": "2026-05-08T15:34:42.228Z",
    "versionId": "27f72596-b9b3-4861-87c6-c07e331e3559",
    "workflowId": "b5pqDfo6xzi2p5uA",
    "nodes": [
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/crm/v8/Payroll_Reports/{{ $json.query.payroll_report_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zohoOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          464
        ],
        "id": "7ad63559-b268-4966-a9a2-bb385d8b7b8f",
        "name": "get record",
        "credentials": {
          "zohoOAuth2Api": {
            "id": "ctc33HbS8GvHZ3iA",
            "name": "Zoho account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://www.zohoapis.com/crm/v8/Payroll_Reports/{{ $('Webhook').item.json.query.payroll_report_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zohoOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"data\": [\n    {\n      \"Processed\": true\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1568,
          464
        ],
        "id": "5e633c30-bde3-4b05-92e2-b80fc6f1b328",
        "name": "update payroll report",
        "credentials": {
          "zohoOAuth2Api": {
            "id": "ctc33HbS8GvHZ3iA",
            "name": "Zoho account 2"
          }
        }
      },
      {
        "parameters": {
          "path": "3802f8fd-b2ec-4d29-ba83-16494a06d497",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          464
        ],
        "id": "f6f39e85-f942-4f8a-8d6c-b150eace6506",
        "name": "Webhook",
        "webhookId": "3802f8fd-b2ec-4d29-ba83-16494a06d497"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                      "rightValue": "HHA Exchange",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c5bd131e-a82b-4cce-b047-835cc085f8ed"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "HHA Exchange"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "880c5c0c-6fe4-4d66-b87b-e4455f726ffd",
                      "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                      "rightValue": "Visiting Aid",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Visiting Aid"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f647d93b-56b6-4d83-b57d-1e4f2dc70c80",
                      "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                      "rightValue": "Empeon",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Empeon"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "04df3b60-f9d6-4dc6-96fc-004706cbb7a4",
                      "leftValue": "={{ $('Webhook').item.json.query.payroll_system }}",
                      "rightValue": "Viventium",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Viventium"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          448,
          432
        ],
        "id": "dd63f3b3-3dca-4a48-a176-70ddfda33b12",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jyIQvpghZRcQSCxC",
            "mode": "list",
            "cachedResultUrl": "/workflow/jyIQvpghZRcQSCxC",
            "cachedResultName": "HHAExchange"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "account_id": "={{ $('Webhook').item.json.query.account_id }}",
              "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
              "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "account_id",
                "displayName": "account_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "payroll_report_id",
                "displayName": "payroll_report_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          176
        ],
        "id": "ce28a66e-2378-4a24-9eb0-948ce71fc514",
        "name": " HHAExchange"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "BKhpCfhaYEVJIaUO",
            "mode": "list",
            "cachedResultUrl": "/workflow/BKhpCfhaYEVJIaUO",
            "cachedResultName": "Visiting Aid"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "account_id": "={{ $('Webhook').item.json.query.account_id }}",
              "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
              "file_id": "={{ $json.data[0].Report[0].File_Id__s }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "account_id",
                "displayName": "account_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "payroll_report_id",
                "displayName": "payroll_report_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          368
        ],
        "id": "70c2b53e-fd2b-4556-abea-a802f5070576",
        "name": "Visiting Aid"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZOWcRr2nzRYHPF6t",
            "mode": "list",
            "cachedResultUrl": "/workflow/ZOWcRr2nzRYHPF6t",
            "cachedResultName": "Empeon"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "account_id": "={{ $('Webhook').item.json.query.account_id }}",
              "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
              "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "account_id",
                "displayName": "account_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "payroll_report_id",
                "displayName": "payroll_report_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          560
        ],
        "id": "a952b1d7-41d2-448b-ac16-3e95e46f055e",
        "name": "Empeon"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vRjeNO1pbIz7Gksr",
            "mode": "list",
            "cachedResultUrl": "/workflow/vRjeNO1pbIz7Gksr",
            "cachedResultName": "Viventium"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "account_id": "={{ $('Webhook').item.json.query.account_id }}",
              "payroll_report_id": "={{ $('Webhook').item.json.query.payroll_report_id }}",
              "file_id": "={{ $('get record').item.json.data[0].Report[0].File_Id__s }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "account_id",
                "displayName": "account_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "payroll_report_id",
                "displayName": "payroll_report_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          752
        ],
        "id": "4d1b1bba-b216-47af-ba88-328f969e6ae7",
        "name": "Viventium"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.zohoapis.com/crm/v8/Employees/upsert",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zohoOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\":{{ JSON.stringify($json.data) }},\n  \"duplicate_check_fields\": [\"External_Id\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1120,
          464
        ],
        "id": "c7e14704-d496-48ee-bd1a-f69bf58c149f",
        "name": "upsert employees",
        "credentials": {
          "zohoOAuth2Api": {
            "id": "ctc33HbS8GvHZ3iA",
            "name": "Zoho account 2"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.data =  $input.item.json.data.map(o=>{\n  return {\n    ...o, \n    Name:o.First_Name + ' ' + o.Last_Name,\n    Account:$('Webhook').item.json.query.account_id,\n    Payroll_Report:$('Webhook').item.json.query.payroll_report_id,\n    External_Id:(o.First_Name+o.Last_Name+o.SSN.slice(4)+o.DOB+$('Webhook').item.json.query.account_id).toLowerCase()\n  }\n})\n\nreturn $input.item;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          464
        ],
        "id": "12422739-238d-4eea-a05b-84b19bbfa6fb",
        "name": "Transform"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1344,
          464
        ],
        "id": "9dfe96cf-fc22-42c2-b7b3-4aa3319271e7",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "get record": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "get record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": " HHAExchange",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Visiting Aid",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Empeon",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Viventium",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      " HHAExchange": {
        "main": [
          [
            {
              "node": "Transform",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Visiting Aid": {
        "main": [
          [
            {
              "node": "Transform",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Empeon": {
        "main": [
          [
            {
              "node": "Transform",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Viventium": {
        "main": [
          [
            {
              "node": "Transform",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform": {
        "main": [
          [
            {
              "node": "upsert employees",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "upsert employees": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "update payroll report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "sam mittelman",
    "name": "Version 27f72596",
    "description": "",
    "autosaved": true
  },
  "tags": []
}