visiting-aid.json
{
  "updatedAt": "2026-05-08T15:36:27.409Z",
  "createdAt": "2026-05-08T01:23:53.519Z",
  "id": "BKhpCfhaYEVJIaUO",
  "name": "Visiting Aid",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        0
      ],
      "id": "bc11e7c0-7541-4681-b848-759164196003",
      "name": "start"
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.com/crm/v8/files?id={{ $json.file_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        0
      ],
      "id": "61334286-5cb4-445e-95d2-672f362ca240",
      "name": "get file",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ctc33HbS8GvHZ3iA",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "text": "=extract the following columns: \n  Last Name as \"Last_Name\",\n  First Name as \"First_Name,\n  DOB,\n  SSN Last4 as SSN,\n  Address_1: extract the street number and street from column Full Address,\n state: extract the state from column Full Address,\n city: extract the city from column Full Address,\n\n  Hire Date as \"Hire_Date\",\n  First Day Worked As \"First_Day_Worked\",\n  Rate\n\nreturn in json\nall dates are in format yyyy-mm-dd",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        256,
        0
      ],
      "id": "f8639bf7-0421-411f-b96d-47652255e2e8",
      "name": "Analyze document",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "OBJJzCCCdVK0aMVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunkArray = (arr, size) => \n  Array.from({ length: Math.ceil(arr.length / size) }, (v, i) =>\n    arr.slice(i * size, i * size + size)\n  );\n\nlet text = $json.content.parts[0].text\nconsole.log(text)\n\nconst start = text.indexOf('[');\nconst end = text.lastIndexOf(']');\n\nlet data = JSON.parse(text.slice(start, end + 1));\n\nreturn chunkArray(data,100).map(o=>{\n  return {\n    json:{\n      data:data\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "4e13dc0c-825d-44f8-a277-a31470642e3f",
      "name": "transform data"
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get file": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "transform data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "start": [
      {
        "json": {
          "file_id": "w69tp5b1fd652a86843a7a33b878e4cab0d85"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "bfe58152-c645-49ab-b7d4-f4045a86121a",
  "activeVersionId": "bfe58152-c645-49ab-b7d4-f4045a86121a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-08T01:23:53.519Z",
      "createdAt": "2026-05-08T01:23:53.519Z",
      "role": "workflow:owner",
      "workflowId": "BKhpCfhaYEVJIaUO",
      "projectId": "vJt8jIrywUfGQWf1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-08T17:48:39.077Z",
    "createdAt": "2026-05-08T15:36:27.413Z",
    "versionId": "bfe58152-c645-49ab-b7d4-f4045a86121a",
    "workflowId": "BKhpCfhaYEVJIaUO",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "file_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -192,
          0
        ],
        "id": "bc11e7c0-7541-4681-b848-759164196003",
        "name": "start"
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/crm/v8/files?id={{ $json.file_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zohoOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          32,
          0
        ],
        "id": "61334286-5cb4-445e-95d2-672f362ca240",
        "name": "get file",
        "credentials": {
          "zohoOAuth2Api": {
            "id": "ctc33HbS8GvHZ3iA",
            "name": "Zoho account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3.1-flash-lite",
            "mode": "list",
            "cachedResultName": "models/gemini-3.1-flash-lite"
          },
          "text": "=extract the following columns: \n  Last Name as \"Last_Name\",\n  First Name as \"First_Name,\n  DOB,\n  SSN Last4 as SSN,\n  Address_1: extract the street number and street from column Full Address,\n state: extract the state from column Full Address,\n city: extract the city from column Full Address,\n\n  Hire Date as \"Hire_Date\",\n  First Day Worked As \"First_Day_Worked\",\n  Rate\n\nreturn in json\nall dates are in format yyyy-mm-dd",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.2,
        "position": [
          256,
          0
        ],
        "id": "f8639bf7-0421-411f-b96d-47652255e2e8",
        "name": "Analyze document",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googlePalmApi": {
            "id": "OBJJzCCCdVK0aMVq",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const chunkArray = (arr, size) => \n  Array.from({ length: Math.ceil(arr.length / size) }, (v, i) =>\n    arr.slice(i * size, i * size + size)\n  );\n\nlet text = $json.content.parts[0].text\nconsole.log(text)\n\nconst start = text.indexOf('[');\nconst end = text.lastIndexOf(']');\n\nlet data = JSON.parse(text.slice(start, end + 1));\n\nreturn chunkArray(data,100).map(o=>{\n  return {\n    json:{\n      data:data\n    }\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          0
        ],
        "id": "4e13dc0c-825d-44f8-a277-a31470642e3f",
        "name": "transform data"
      }
    ],
    "connections": {
      "start": {
        "main": [
          [
            {
              "node": "get file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get file": {
        "main": [
          [
            {
              "node": "Analyze document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze document": {
        "main": [
          [
            {
              "node": "transform data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "sam mittelman",
    "name": "Version bfe58152",
    "description": "",
    "autosaved": true
  },
  "tags": []
}